*.swp
*.swo
*.tar.xz
tmp
config.yml
morph/*/*/*.yml
morph/*/*/Dockerfile
secrets/*.json
secrets/*.ovpn
*.tar.gz
.DS_Store
container/app/etheride.edn
bin/falcon.js
target
.lein-repl-history
.nrepl-port
node_modules
