*.swp
*.swo
*.tar.xz
tmp
cloud/*.yml
cloud/*/*/*.yml
secrets/*.json
secrets/*.ovpn
*.tar.gz
.DS_Store
container/*/Dockerfile
container/app/etheride.edn
bin/falcon.js
target
.lein-repl-history
.nrepl-port
node_modules
